.advantages {
  text-align: center;
}

.advantages__advantages-list {
  @include list-clear;
  margin-bottom: 35px;
  padding: 0 20px;
}

.advantages__item {
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.advantages__header {
  color: $darkblue-color;
  font-size: 24px;
  font-weight: 300;
  padding: 40px 20px;
  margin-bottom: 70px;
}

.advantages__header p {
  margin: 0;
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.advantages__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin: 0;
  margin-bottom: 15px;
}

.advantages__description {
  margin: 0;
  color: $darkblue-color;
  line-height: 24px;
}

.advantages__image-wrapper {
  height: 220px;
}

.advantages__photo-sample {
  &:first-child,
  &:nth-of-type(2) {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .advantages__advantages-list {
    margin-bottom: 0;
    width: 320px;
    text-align: left;
    padding-top: 70px;
  }

  .advantages__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 0;
    margin-bottom: 50px;
    min-height: 135px;
  }

  .advantages__header p {
    font-size: 40px;
    margin-bottom: 10px;

    &:nth-of-type(2) {
      width: 300px;
    }
  }

  .advantages__wrapper {
    display: flex;
    padding: 0 20px;
    width: auto;
  }

  .advantages__image-wrapper {
    order: -1;
    margin-right: 30px;
  }

  .advantages__photo-sample {
    height: 468px;
    width: 268px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper {
    flex-direction: column;
    padding: 0;
    margin-bottom: 60px;
  }

  .advantages__advantages-list {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
    width: auto;
  }

  .advantages__image-wrapper {
    display: flex;
    flex-wrap: wrap;
    order: -1;
    margin-right: 0;
    margin-bottom: 55px;
    min-height: 304px;
  }

  .advantages__header {
    margin-bottom: 50px;
  }

  .advantages__header p {
    font-size: 50px;
    line-height: 58px;

    &:nth-of-type(2) {
      width: 400px;
    }
  }

  .advantages__item {
    text-align: center;
    margin-right: 110px;
    margin-bottom: 0;
    width: 220px;

    &:last-child {
      margin-right: 0;
    }
  }

  .advantages__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
  }

  .advantages__description {
    font-size: 18px;
    line-height: 30px;
  }

  .advantages picture {
    margin-right: 55px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .advantages__photo-sample {
    width: 265px;
    height: 300px;

    &:first-child,
    &:nth-of-type(2) {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
