.confirmation-modal {
  display: none;
  position: fixed;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 45%, rgba(242, 242, 242, 1) 45%, rgba(242, 242, 242, 1) 100%);
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: $black-color;
  text-align: center;
  padding: 20px;
  width: 280px;
  height: 380px;
  top: 50%;
  z-index: 1;
}

.confirmation-modal h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.confirmation-modal p {
  margin: 0;
  color: $darkblue-color;
  font-size: 14px;
  margin-bottom: 40px;
}

.confirmation-modal__button {
  background-color: rgb(42, 171, 109);
  color: $white-color;
  border: none;
  width: 280px;
  margin-bottom: 40px;
  border-radius: 3px;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: rgb(28, 155, 94);
  }

  &:active {
    background-color: rgb(28, 155, 94);
    color: transparentize($white-color, 0.3);
  }

  &:disabled {
    color: $white-color;
    background-color: $lightgray-color;
  }
}
