.contacts-list {
  @include list-clear;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 20px;
}

.contacts-list__item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts-list p {
  margin: 0;
  text-align: center;
}

.contacts-list__action {
  font-weight: bold;
  font-size: 18px;
  color: $darkblue-color;
}

.contacts-list__details {
  font-size: 24px;
  font-weight: 300;
  color: $lipstick-color;
}

.contacts-list__item:hover:nth-of-type(2) .contacts-list__details,
.contacts-list__item:focus:nth-of-type(2) .contacts-list__details {
  cursor: pointer;
  color: $darkblue-color;
  text-decoration: underline;
}

.contacts-list__item:active:nth-of-type(2) .contacts-list__details {
  cursor: pointer;
  color: transparentize($darkblue-color, 0.3);
}


@media (min-width: $tablet-width) {
  .contacts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
  }

  .contacts-list__item {
    margin-right: 100px;
    margin-bottom: 45px;

    &:nth-of-type(2),
    &:last-of-type {
      margin-right: 0;
    }
  }

  .contacts-list__details {
    width: 220px;
  }
}

@media (min-width: $desktop-width) {
  .contacts-list__item {
    margin-right: 50px;

    &:nth-of-type(2) {
      order: 1;
      margin-right: 0;
    }

    &:last-of-type {
      margin-right: 50px;
    }
  }
}
