.contacts {
  background: $white-color;
}

.contacts__header {
  margin-bottom: 20px;
  padding: 0 20px;
}

.contacts__header p {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: $darkblue-color;
}

.contacts__triangle {
  position: relative;
}

.contacts__triangle::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 160px solid transparent;
  border-right: 160px solid transparent;
  border-top: 60px solid $white-color;
  left: 50%;
  margin-left: -160px;
}

.contacts iframe {
  width: 100%;
  height: 220px;
}

@media (min-width: $tablet-width) {
  .contacts__header p {
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
  }

  .contacts__triangle::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 330px solid transparent;
    border-right: 330px solid transparent;
    border-top: 80px solid $white-color;
    left: 50%;
    margin-left: -330px;
  }

  .contacts iframe {
    height: 375px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__header {
    padding: 0;
    margin-bottom: 35px;
  }

  .contacts__triangle::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 600px solid transparent;
    border-right: 600px solid transparent;
    border-top: 90px solid $white-color;
    left: 50%;
    margin-left: -600px;
  }

  .contacts__header p {
    font-size: 50px;
    line-height: 60px;
  }

  .contacts iframe {
    height: 490px;
    width: 1200px;
  }
}
