.downloads {
  background-color: rgb(29, 38, 49);
  color: $white-color;
  text-align: center;
  padding: 25px 20px;
}

.downloads p {
  margin: 0;
  font-weight: 300;
  line-height: 24px;
}

.downloads__button {
  display: block;
  margin-bottom: 25px;
}

.downloads__options {
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .downloads {
    width: 300px;
    background-color: transparent;
    padding: 20px;
    z-index: 1;
  }

  .downloads p {
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .downloads {
    width: 380px;
    padding: 0;
  }

  .downloads__button,
  .downloads__options {
    margin-bottom: 60px;
  }
}
