.downloads {
  background-color: rgb(29, 38, 49);
  color: $white-color;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.downloads p {
  font-weight: 300;
  line-height: 24px;
}

.downloads__button {
  display: block;
  margin-bottom: 35px;
}
