.editor {
  display: flex;
  flex-direction: column;
}

.editor__editor-wrapper {
  display: flex;
  flex-direction: column;
}

.editor__image-full {
  margin-bottom: 30px;
}

.editor__apply-button {
  background-color: transparent;
  border: 3px solid $lipstick-color;
  color: $lipstick-color;
  margin-bottom: 10px;
  min-width: 280px;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $lipstick-color;
  }

  &:active {
    color: transparentize($white-color, 0.3);
  }
}

.editor__reset-button {
  background-color: transparent;
  border: 3px solid $darkblue-color;
  color: $darkblue-color;
  opacity: 0.1;
  min-width: 280px;

  &:hover,
  &:focus {
    opacity: 0.3;
  }

  &:active {
    color: $white-color;
    background-color: $darkblue-color;
  }
}

@media (min-width: $tablet-width) {
  .editor {
    flex-direction: row;
    justify-content: space-around;
    width: 620px;
  }

  .editor__editor-wrapper {
    padding: 0 20px;
  }

  .editor__button-wrapper {
    width: 260px;
  }

  .editor__image-small {
    height: 400px;
    width: 300px;
  }

  .editor__image-full {
    height: 400px;
    width: 300px;
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .editor {
    width: 960px;
  }

  .editor__editor-list {
    margin-bottom: 80px;
  }

  .editor__button-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 410px;
  }

  .editor__apply-button,
  .editor__reset-button {
    min-width: 185px;
  }

  .editor__apply-button {
    margin-right: 40px;
    margin-bottom: 0;
  }

  .editor__image-full {
    margin-right: 90px;
  }
}
