.footer-container {
  width: auto;
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: $white-background;
  padding: 10px;
}

@media (min-width: $tablet-width) {
  .footer-container {
    flex-direction: row;
    width: auto;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer-container {
    max-width: 960px;
    padding: 0 120px;
    justify-content: none;
    align-items: flex-end;
  }
}
