.form-list {
  @include list-clear;
  display: flex;
  flex-direction: column;
}

.form-list__item-text {
  margin-bottom: 40px;
  padding: 0 20px;
}

.form-list__item-checkbox {
  padding: 40px 20px 0;
  margin-bottom: 30px;
}

.form-list__item-email-tel {
  margin-bottom: 55px;
  padding: 0 20px;
}

.form-list__item-radio {
  padding: 30px 20px 0;
  margin-bottom: 30px;
}

.form-list__item-textarea {
  padding: 0 20px;
  margin-bottom: 35px;
}

.form-list__item-submit {
  margin-bottom: 40px;
  padding: 0 20px;
  align-self: center;
}

@media (min-width: $tablet-width) {
  .form-list {
    flex-direction: column-reverse;
  }

  .form-list__item-text {
    margin-bottom: 30px;
  }

  .form-list__item-radio {
    margin-bottom: 50px;
  }

  .form-list__item-email-tel {
    margin-bottom: 20px;
  }

  .form-list__item-checkbox {
    margin-bottom: 55px;
  }

  .form-list__item-textarea {
    margin-bottom: 65px;
  }

  .form-list__item-submit {
    margin-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .form-list {
    width: 960px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form-list__item-text {
    margin-right: 60px;
    margin-bottom: 50px;
  }

  .form-list__item-radio {
    padding: 0;
  }

  .form-list__item-email-tel {
    padding: 0;
    margin-bottom: 60px;
  }

  .form-list__item-checkbox {
    padding: 0;
    margin-bottom: 50px;
  }

  .form-list__item-textarea {
    padding: 0;
  }

  .form-list__item-submit {
    padding: 0;
  }
}
