.header-container {
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .header-container {
    width: auto;
  }
}

@media (min-width: $desktop-width) {
  .header-container {
    position: absolute;
    width: 940px;
    background-color: transparentize($darkblue-color, 0.3);
    z-index: 1;
    padding: 0 130px;
  }
}
