.header-container {
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .header-container {
    width: auto;
  }
}

@media (min-width: $desktop-width) {
  .header-container {
    max-width: 960px;
    padding: 0 130px;
  }
}
