.main-footer {
  display: none;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-color: $white-background;
}

.main-footer__logolink {
  display: block;
  color: $darkblue-color;

  &:hover,
  &:focus {
    color: $lipstick-color;
  }

  &:active {
    color: $darkblue-color;
    opacity: 0.3;
  }
}

.main-footer__logolink use:first-of-type {
  color: $lipstick-color;
}

@media (min-width: $tablet-width) {
  .main-footer {
    padding: 45px 20px;
    display: block;
  }

  .main-footer__logo--mobile {
    &:hover path,
    &:focus path {
      fill: $lipstick-color;
    }

    &:active path {
      opacity: 0.3;
    }
  }

  .main-footer__logo--desktop {
    display: none;
  }

  .main-footer__logolink,
  .main-footer__socials {
    margin-right: 70px;
  }
}


@media (min-width: $desktop-width) {
  .main-footer {
    padding-top: 65px;
    padding-bottom: 80px;
  }

  .main-footer__logo--mobile {
    display: none;
  }

  .main-footer__logo--desktop {
    display: block;
  }

  .main-footer__logolink,
  .main-footer__socials {
    margin-right: 220px;
  }

  .main-footer__logolink {
    margin-right: 160px;
    padding-left: 10px;
  }

  .main-footer__socials {
    margin-right: 160px;
  }

  .main-footer__copyright {
    padding-right: 10px;
  }
}
