.main-container-mob {
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .main-container-mob {
    width: auto;
    align-items: stretch;
  }

  .main-container-mob--flex-row {
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .main-container-mob {
    padding: 0;
    width: 960px;
  }
}
