.main-footer-inner {
  text-align: center;
  background-color: $white-background;
}

.main-footer-inner__socials {
  margin-bottom: 40px;
}

.main-footer-inner__logolink {
  display: block;
  margin-bottom: 40px;

  &:hover path,
  &:focus path {
    fill: $lipstick-color;
  }

  &:active path {
    opacity: 0.3;
  }
}

.main-footer-inner__footer--desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-footer-inner {
    padding: 40px 20px;
  }

  .main-footer-inner__logolink,
  .main-footer-inner__socials {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-footer-inner {
    width: 100%;
  }

  .main-footer-inner__logolink,
  .main-footer-inner__socials {
    margin-right: 220px;
  }

  .main-footer-inner__footer--mobile {
    display: none;
  }

  .main-footer-inner__footer--desktop {
    display: block;
  }
}
