.main-content__slogan {
  padding: 0 25px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  margin: 0;
  text-align: center;
  color: $white-color;
}

.main-content__photo-sample {
  position: relative;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 370px;
  padding-top: 100px;
}

.main-content__photo-sample::after {
  content: "";
  position: absolute;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 320px;
  height: 286px;
  bottom: 0;
  left: -30px;
}

.main-content__slider {
  position: relative;
  margin-top: -50px;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .main-content__downloads-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-color: rgb(29, 38, 49);
    background-repeat: no-repeat;
    height: 650px;
    padding-top: 80px;
  }

  .main-content__slogan {
    position: relative;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    padding: 0;
    width: 200px;
    padding-left: 20px;
    margin-left: 50px;
    margin-right: 320px;
    z-index: 1;
  }

  .main-content__photo-sample {
    background-image: none;
    width: 660px;
    padding-top: 120px;
  }

  .main-content__photo-sample::after {
    content: "";
    position: absolute;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
    width: 660px;
    height: 650px;
    top: 54px;
    left: 10px;
  }

  .main-content__advantages {
    margin-bottom: 50px;
  }

  .main-content__effects {
    position: relative;
    margin-top: -50px;
    z-index: 1;
  }

  .main-content__downloads {
    padding: 0;
    margin-bottom: 110px;
  }
}

@media (min-width: $desktop-width) {
  .main-content__downloads-wrapper {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    height: 850px;
    padding-top: 0;
  }

  .main-content__photo-sample {
    padding-top: 220px;
  }

  .main-content__photo-sample::after {
    content: "";
    position: absolute;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-repeat: no-repeat;
    height: 650px;
    width: 800px;
    top: 203px;
    left: 200px;
  }

  .main-content__effects {
    margin-top: 0;
  }

  .main-content__advantages {
    margin-bottom: 0;
  }

  .main-content__slogan {
    font-size: 50px;
    line-height: 58px;
    margin-left: 60px;
  }

  .main-content__slider {
    margin: 0;
  }
}
