.main-container,
.main-container-mob {
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .main-container,
  .main-container-mob {
    width: auto;
  }

  .main-container--flex-row {
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .main-container {
    position: relative;
    width: 960px;
    padding: 0 130px;
  }

  .main-container-desk {
    display: flex;
    flex-direction: column;
    width: 960px;
    padding: 0 130px;
    margin: 0 auto;
  }

  .main-container-mob {
    padding: 0;
    width: 960px;
  }
}
