.main-container {
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .main-container {
    width: auto;
  }

  .main-container--flex-row {
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .main-container {
    position: relative;
    width: 960px;
    padding: 0 130px;
  }
}
