.main-content-form {
  text-align: center;
}

.main-content-form__current-page {
  display: block;
  background: url("../img/bg-back-mobile@1x.jpg");
  font-size: 24px;
  color: $white-color;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 35px;
  padding-bottom: 50px;
  width: 225px;
  min-height: 80px;
}

@media (min-width: $tablet-width) {
  .main-content-form__current-page {
    background: url("../img/bg-back-tablet@1x.jpg");
    font-size: 50px;
    line-height: 60px;
    padding-top: 100px;
    width: 560px;
    height: 230px;
  }
}

@media (min-width: $desktop-width) {
  .main-content-form__current-page {
    background: url("../img/bg-back-desktop@1x.jpg");
    width: 940px;
    height: 200px;
    padding: 200px 130px 0;
  }
}
