.main-footer {
  display: none;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-color: $white-background;
}

.main-footer__logolink {
  display: block;

  &:hover path,
  &:focus path {
    fill: $lipstick-color;
  }

  &:active path {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-footer {
    padding: 40px 20px;
    display: block;
  }

  .main-footer__logolink,
  .main-footer__socials {
    margin-right: 70px;
  }
}


@media (min-width: $desktop-width) {
  .main-footer {
    width: 100%;
  }

  .main-footer__logolink,
  .main-footer__socials {
    margin-right: 220px;
  }
}
