.main-content__background-wrapper {
  position: relative;
  z-index: 2;
}

.main-content__background-wrapper--stop-points-25 {
  background: linear-gradient(175deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 25%, rgba(242, 242, 242, 1) 25%, rgba(242, 242, 242, 1) 100%);
}

.main-content__background-wrapper--stop-points-45 {
  background: linear-gradient(175deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 45%, rgba(242, 242, 242, 1) 45%, rgba(242, 242, 242, 1) 100%);
}

.main-content__slogan {
  padding: 0 25px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  margin: 0;
  text-align: center;
  color: $white-color;
}

.main-content__photo-sample {
  position: relative;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 40px;
  background-size: cover;
  height: 362px;
  width: 100%;
  padding-top: 150px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: cover;
    background-position: center 40px;
  }
}

.main-content__photo-sample::after {
  content: "";
  position: absolute;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 286px;
  bottom: 0;
  left: -30px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: 255px auto;
  }
}

.main-content__testimonials {
  position: relative;
  z-index: 1;
  padding: 40px 20px 0;
  margin-bottom: 120px;
}

.main-content__pricing {
  margin-bottom: 30px;
}

.main-content__contacts {
  padding-top: 45px;
}

.main-content-photos__post {
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .main-content__testimonials {
    padding-top: 0;
    margin-bottom: 95px;
  }

  .main-content__background-wrapper {
    z-index: 0;
  }

  .main-content__background-wrapper--stop-points-25 {
    background: linear-gradient(175deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(242, 242, 242, 1) 35%, rgba(242, 242, 242, 1) 100%);
  }

  .main-content__background-wrapper--stop-points-50 {
    background: linear-gradient(175deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(242, 242, 242, 1) 50%, rgba(242, 242, 242, 1) 100%);
  }

  .main-content__downloads-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-color: rgb(29, 38, 49);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 690px;
    padding-top: 50px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@1x.jpg");
      background-position: center;
      background-size: cover;
    }
  }

  .main-content__slogan {
    position: relative;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    padding: 0;
    width: 200px;
    padding-left: 20px;
    margin-left: 50px;
    margin-right: 320px;
    z-index: 1;
  }

  .main-content__photo-sample {
    background-image: none;
    width: 660px;
    padding-top: 165px;
  }

  .main-content__photo-sample::after {
    content: "";
    position: absolute;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
    width: 660px;
    height: 650px;
    top: 95px;
    left: 10px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-size: 700px auto;
    }
  }

  .main-content__advantages {
    margin-bottom: 50px;
  }

  .main-content__effects {
    position: relative;
    margin-top: -50px;
    z-index: 1;
  }

  .main-content__downloads {
    padding: 0;
    margin-bottom: 110px;
  }
}

@media (min-width: $desktop-width) {
  .main-content__downloads-wrapper {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 870px;
    padding-top: 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-position: center;
      background-size: cover;
    }
  }

  .main-content__photo-sample {
    padding-top: 225px;
  }

  .main-content__photo-sample::after {
    content: "";
    position: absolute;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-repeat: no-repeat;
    height: 650px;
    width: 800px;
    top: 203px;
    left: 200px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-size: 1050px auto;
    }
  }

  .main-content__effects {
    margin-top: 0;
  }

  .main-content__advantages {
    margin-bottom: 0;
  }

  .main-content__slogan {
    font-size: 50px;
    line-height: 70px;
    width: 200px;
    padding: 0;
  }

  .main-content__testimonials {
    margin: 0;
  }

  .main-content__contacts {
    margin-right: -20px;
  }
}
