.main-footer-inner {
  text-align: center;
  background-color: $white-background;
}

.main-footer-inner__logolink {
  display: block;

  &:hover path,
  &:focus path {
    fill: $lipstick-color;
  }

  &:active path {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-footer-inner {
    padding: 0 20px;
    display: block;
  }

  .main-footer-inner__logolink,
  .main-footer-inner__socials {
    margin-right: 70px;
  }
}


@media (min-width: $desktop-width) {
  .main-footer-inner {
    width: 100%;
  }

  .main-footer-inner__logolink,
  .main-footer-inner__socials {
    margin-right: 220px;
  }
}
