.navigation-list {
  @include list-clear;
  text-align: center;
}

.navigation-list__navigation-item {
  @include navigation-item-paddings;

  &:hover,
  &:focus-within {
    color: $lipstick-color;
  }

  &:active {
    color: transparentize($lipstick-color, 0.3);
  }
}

.navigation-list__navigation-item:nth-of-type(odd) {
  box-shadow: inset 0 -1px 0 0 $black-color, inset 0 -1px 0 0 $white-color, inset 0 1px 0 0 $black-color, inset 0 1px 0 0 $white-color;
}

.navigation-list__navigation-item:last-of-type {
  box-shadow: inset 0 -1px 0 0 $black-color, inset 0 -1px 0 0 $white-color;
}


.navigation-list__navigation-item a {
  border: none;

  @include a-clear;
  @include navigation-item-paddings;

  &:hover,
  &:focus-within {
    color: $lipstick-color;
  }

  &:active {
    color: transparentize($lipstick-color, 0.3);
  }
}

@media (min-width: $desktop-width) {
  .navigation-list {
    display: flex;
    width: 800px;
    align-items: center;
    font-weight: normal;
    text-transform: none;
  }

  .navigation-list__navigation-item {
    &:active {
      color: transparentize($white-color, 0.3);
    }

    margin-right: 40px;
    padding: 0;
  }

  .navigation-list__navigation-item a {
    &:active {
      color: transparentize($white-color, 0.3);
    }
  }

  .navigation-list__navigation-item:nth-of-type(odd),
  .navigation-list__navigation-item:last-of-type {
    box-shadow: none;
  }

  .navigation-list__navigation-item--current {
    padding: 0;
    border-bottom: 2px solid $white-color;

    &:hover,
    &:focus,
    &:active {
      border: none;
    }
  }
}
