.photos-list {
  @include list-clear;
  line-height: 24px;
  color: rgb(40, 54, 69);
  display: flex;
  flex-direction: column;
}

.photos-list__item {
  display: flex;
  flex-direction: column;
}

.photos-list__item-featured {
  position: relative;
  margin-bottom: 20px;
}

.photos-list__item:not(:first-of-type) {
  margin-bottom: 22px;
  padding: 0 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.photos-list__featured-description {
  width: auto;
  padding: 0 20px;
}

.photos-list__non-featured-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 0 auto;
}

.photos-list__overview-wrapper {
  background-color: rgb(242, 242, 242);
  padding-top: 20px;
  padding-right: 23px;
  padding-bottom: 19px;
  padding-left: 17px;
  text-align: left;
  width: 240px;
}

.photos-list__image-full,
.photos-list__image-full-featured {
  display: block;
}

.photos-list__item a {
  @include a-clear;
  width: 280px;
  height: 180px;
  align-self: center;
}

.photos-list__item-featured .photos-list__image-full-featured {
  @include a-clear;
  width: auto;
  height: 137px;
}

.photos-list__image-small--featured {
  width: 100%;
  height: 137px;
}

.photos-list__item p,
.photos-list__item-featured p {
  margin: 0;
}

.photos-list__author {
  display: inline-block;
  font-weight: bold;
}

.photos-list__time-posted {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
}

.photos-list__featured-description .photos-list__description,
.photos-list__overview-wrapper .photos-list__description {
  display: block;
  margin-bottom: 7px;
}

.photos-list__likes,
.photos-list__featured-tag {
  font-size: 12px;
  color: $lipstick-color;
  text-transform: uppercase;
}

.photos-list__likes {
  padding-left: 30px;
  position: relative;
}

.photos-list__likes::before {
  content: "";
  position: absolute;
  background: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
  left: 3px;
  top: 7px;
}

.photos-list__featured-tag {
  display: block;
  position: absolute;
  right: 20px;
  font-weight: bold;
  background-color: $lipstick-color;
  color: $white-color;
  width: 105px;
  height: 12px;
  padding-top: 8px;
  padding-right: 21px;
  padding-bottom: 15px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .photos-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-around;
    padding: 0 20px;
  }

  .photos-list__item .photos-list__likes {
    padding-left: 0;
  }

  .photos-list__item .photos-list__overview-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
    width: 248px;
    height: 115px;
  }

  .photos-list__item-featured {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .photos-list__item:not(:first-of-type) {
    padding: 0;
    margin-bottom: 20px;
  }

  .photos-list__featured-description .photos-list__overview-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 230px;
    min-height: 80px;
    padding: 20px 30px;
  }

  .photos-list__featured-description .photos-list__description {
    order: 1;
  }

  .photos-list__item-featured .photos-list__time-posted {
    margin-right: 270px;
  }

  .photos-list__item-featured .photos-list__author {
    margin-right: 10px;
  }

  .photos-list__featured-tag {
    top: 55px;
  }

  .photos-list__item-featured .photos-list__likes::before {
    left: 130px;
    top: 5px;
  }

  .photos-list__item .photos-list__likes::before {
    left: 220px;
    top: 5px;
  }

  .photos-list__item-featured .photos-list__overview-wrapper {
    min-width: 560px;
  }

  .photos-list__item {
    display: block;
  }

  .photos-list__image-small,
  .photos-list__item a {
    height: 300px;
    width: 300px;
  }

  .photos-list__image-small--featured,
  .photos-list__image-featured-wrapper {
    height: 510px;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .photos-list {
    width: 960px;
  }

  .photos-list__image-featured-wrapper {
    display: flex;
    align-items: center;
  }

  .photos-list__item-featured {
    display: flex;
    flex-direction: column;
  }

  .photos-list__item-featured .photos-list__time-posted {
    margin-right: 610px;
  }

  .photos-list__item {
    margin-right: 0;
  }

  .photos-list .photos-list__item-featured,
  .photos-list__featured-description {
    padding: 0;
    margin-right: 0;
    margin-left: 0;
  }

  .photos-list__featured-description {
    display: flex;
    flex-direction: column;
  }

  .photos-list__featured-tag {
    right: 130px;
    padding-top: 6px;
    padding-bottom: 14px;
  }

  .photos-list__likes {
    padding-left: 0;
  }

  .photos-list__item-featured .photos-list__likes::before {
    left: 110px;
  }

  .photos-list__item-featured .photos-list__overview-wrapper {
    min-height: 50px;
    width: 890px;
    margin: 0;

    &:first-of-type {
      margin: 0;
      align-self: center;
    }
  }

  .photos-list__item .photos-list__overview-wrapper {
    padding-bottom: 15px;
  }

  .photos-list__item .photos-list__description {
    margin-bottom: 0;
  }

  .photos-list__item .photos-list__likes {
    padding-bottom: 5px;
  }

  .photos-list__item:not(:first-of-type) {
    margin-bottom: 60px;
  }

  .photos-list__image-small,
  .photos-list__item a {
    height: 400px;
    width: 300px;
  }

  .photos-list__item-featured .photos-list__image-small--featured {
    width: 1200px;
    height: 510px;
  }

  .photos-list__item-featured .photos-list__image-full-featured {
    width: 1200px;
    height: 510px;
  }
}
