.photos__header {
  padding-top: 55px;
  padding-bottom: 55px;
}

.photos__header p {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .photos__header p {
    font-size: 18px;
    line-height: 30px;
  }
}
