.photos__header {
  padding: 45px 0 50px;
  width: 240px;
  text-align: center;
}

.photos__header p {
  margin: 0;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .photos__header p {
    font-size: 18px;
    line-height: 30px;
  }

  .photos__header {
    padding: 90px 0 80px;
    width: 540px;
  }
}

@media (min-width: $desktop-width) {
  .photos__header {
    width: 570px;
    padding: 90px 0;
  }
}
