.post {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 12%, rgba(242, 242, 242, 1) 12%, rgba(242, 242, 242, 1) 100%);
}

.post__header {
  margin-bottom: 45px;
}

.post__header p {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
}

@media (min-width: $tablet-width) {
  .post {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(242, 242, 242, 1) 20%, rgba(242, 242, 242, 1) 100%);
  }

  .post__header p {
    font-size: 18px;
  }

  .post__header {
    padding-bottom: 45px;
  }
}
