.pricing-table {
  border: 0;
  border-color: transparent;
  border-spacing: 0;
  font-size: 14px;
  line-height: 30px;
  color: $darkblue-color;
  border-collapse: collapse;
  width: 320px;
  text-align: center;
}

.pricing-table__row-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.pricing-table__row:nth-of-type(n+3) {
  background-color: $white-color;
}

.pricing-table__row:nth-of-type(n+3) td {
  border: 2px solid $lightgray-color;
  padding: 15px 0;
  min-width: 280px;
}

.pricing-table__row p {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  display: inline-block;
  text-align: left;
}

.pricing-table__subscribtion-type th:not(:first-of-type) {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  background-color: $darkblue-color;
  color: $white-color;
  border-right: 2px solid $lightgray-color;
  text-transform: uppercase;
  padding: 15px 0 0;
}

.pricing-table__subscribtion-price td:not(:first-of-type) {
  font-size: 24px;
  font-weight: 300;
  background-color: $darkblue-color;
  color: $white-color;
  border-right: 2px solid $lightgray-color;
  padding: 0;
  padding-bottom: 20px;
}

.pricing-table__the-most-popular span {
  position: absolute;
  font-size: 10px;
  line-height: 21px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  left: 5px;
  top: 10px;
  transform: rotate(-45deg);
}

.pricing-table__the-most-popular::before {
  content: "";
  position: absolute;
  background: url("../img/bg-hit-tablet.svg");
  width: 61px;
  height: 61px;
  left: 0;
  top: 0;
}

@media (min-width: $tablet-width) {
  .pricing-table {
    width: 620px;
  }

  .pricing-table__row-wrapper {
    justify-content: center;
  }

  .pricing-table__row p {
    display: none;
  }

  .pricing-table__row:nth-of-type(n+3) td {
    min-width: 130px;
    padding: 8px 10px;
    text-align: left;
  }

  .pricing-table__subscribtion-type th:not(:first-of-type) {
    font-size: 16px;
    padding: 13px 3px 0;
    width: 160px;
  }

  .pricing-table__subscribtion-price td:not(:first-of-type) {
    font-size: 18px;
    padding-bottom: 5px;
  }

  .pricing-table__the-most-popular span {
    left: 10px;
    top: 15px;
  }

  .pricing-table__the-most-popular::before {
    content: "";
    position: absolute;
    background: url("../img/bg-hit.svg");
    width: 70px;
    height: 73px;
    left: 0;
    top: -10px;
  }
}

@media (min-width: $desktop-width) {
  .pricing-table {
    width: 960px;
    font-size: 18px;
  }

  .pricing-table__subscribtion-type th:not(:first-of-type) {
    font-size: 18px;
    font-weight: bold;
  }

  .pricing-table__subscribtion-price td:not(:first-of-type) {
    font-size: 24px;
    font-weight: 300;
  }
}
