.socials-list {
  @include list-clear;
  display: flex;
  flex-wrap: wrap;
  width: 180px;
}

.socials-list__item a {
  @include a-clear;
  display: block;
  height: 42px;
  width: 42px;
}

.socials-list__item {
  position: relative;
  height: 43px;
  width: 43px;
  margin-right: 15px;
  border: 3px solid rgb(233, 235, 236);
  border-radius: 50%;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    border-color: $darkblue-color;
  }

  &:active {
    opacity: 0.1;
  }
}

.socials-list__twitter::before {
  content: " ";
  position: absolute;
  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
  top: 14px;
  right: 12px;
}

.socials-list__facebook::before {
  content: " ";
  position: absolute;
  background-image: url("../img/icon-facebook.svg");
  background-repeat: no-repeat;
  height: 20px;
  width: 9px;
  top: 12px;
  right: 17px;
}

.socials-list__youtube::before {
  content: " ";
  position: absolute;
  background-image: url("../img/icon-youtube.svg");
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  top: 14px;
  right: 12px;
}
