.testimonials-list {
  @include list-clear;
}

.testimonials-list__item:nth-of-type(n+2) {
  display: none;
}

.testimonials-list__author,
.testimonials-list__quote,
.testimonials-list__author-details {
  margin: 0;
  text-align: center;
}

.testimonials-list blockquote {
  margin: 0;
  margin-bottom: 30px;
}

.testimonials-list__author {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.testimonials-list__author-details {
  display: none;
}

@media (min-width: $tablet-width) {
  .testimonials-list blockquote {
    display: flex;
    flex-direction: column;
  }

  .testimonials-list__author-details {
    display: block;
  }

  .testimonials-list__author {
    font-size: 20px;
    line-height: 30px;
    color: $black-color;
    margin-bottom: 5px;
  }

  .testimonials-list__quote {
    font-size: 18px;
    line-height: 30px;
    color: $black-color;
    order: -1;
    margin-bottom: 35px;
  }
}

@media (min-width: $desktop-width) {
  .testimonials-list__item {
    position: relative;
    padding-top: 190px;
  }

  .testimonials-list__item::before {
    content: "";
    position: absolute;
    background: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    width: 79px;
    height: 64px;
    top: 75px;
    left: 315px;
  }

  .testimonials-list__quote {
    width: 710px;
    text-align: center;
  }

  .testimonials-list__quote::before {
    content: "";
    position: absolute;
    cursor: pointer;
    background: url("../img/icon-review-arrow-left.svg");
    background-repeat: no-repeat;
    width: 22px;
    height: 41px;
    opacity: 0.3;
    bottom: 125px;
    left: -115px;
  }

  .testimonials-list__quote:hover::before,
  .testimonials-list__quote:focus::before,
  .testimonials-list__quote:hover::after,
  .testimonials-list__quote:focus::after {
    cursor: pointer;
    opacity: 0.6;
  }

  .testimonials-list__quote:active::before,
  .testimonials-list__quote:active::after {
    cursor: pointer;
    opacity: 0.1;
  }

  .testimonials-list__quote::after {
    content: "";
    position: absolute;
    cursor: pointer;
    background: url("../img/icon-review-arrow-right.svg");
    background-repeat: no-repeat;
    width: 22px;
    height: 41px;
    opacity: 0.3;
    right: -115px;
    bottom: 125px;
  }

  .testimonials-list__author {
    font-size: 24px;
    line-height: 30px;
  }

  .testimonials-list__author-details {
    font-size: 18px;
  }
}
