.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials__slider-controls label {
  &:first-of-type {
    background-color: transparent;
    border: solid 3px $darkblue-color;
  }
}

@media (min-width: $desktop-width) {
  .testimonials__testimonials-list {
    margin-bottom: 155px;
  }

  .testimonials__slider-controls {
    display: none;
  }
}
