@mixin body-formatting() {
  font-family: ("Open-Sans', 'Arial', sans-serif");
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  background-color: rgb(40, 54, 69);
  color: rgb(0, 0, 0);
}

@mixin list-clear() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin a-clear() {
  text-decoration: none;
  color: inherit;
}

@mixin navigation-item-paddings() {
  padding-top: 17px;
  padding-bottom: 17px;
}

@mixin center-paddings() {
  padding-left: 20px;
  padding-right: 20px;
}

@mixin button($padding-top, $padding-right, $padding-bottom, $padding-left, $border, $border-radius) {
  padding-top: $padding-top;
  padding-right: $padding-right;
  padding-bottom: $padding-bottom;
  padding-left: $padding-left;
  border: $border;
  border-radius: $border-radius;
}
