$header-background-color: rgb(40, 54, 69);
$white-color: rgb(255, 255, 255);
$white-background: rgb(255, 255, 255);
$padding-top: 0px;
$padding-bottom: 0px;
$padding-left: 0px;
$padding-right:0px;
$border: 0px solid transparent;
